body {
    background-color: #1a4731;
    color: white; /* optional: makes all text white for contrast */
}

body::-webkit-scrollbar {
    width: 4px;
}

body::-webkit-scrollbar-thumb {
    background: var(--color-dark-green);
    border-radius: 5px;
}

body::-webkit-scrollbar-track {
    background: var(--color-white);
}

.app__bg {
    background-color: #1a4731;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    min-height: 100vh;
}