body::-webkit-scrollbar {
    width: 4px;
}

body::-webkit-scrollbar-thumb {
    background: var(--color-dark-green);
    border-radius: 5px;
}

body::-webkit-scrollbar-track {
    background: var(--color-white);
}

.app__bg {
  background-size: cover;
  background: #fff repeat fixed center;
}