@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --quick-sand: 'Quick Sand', serif;
    --space-grotesk: 'Space Grotesk', serif;

    --color-dark-green: #374b34;
    --color-black: rgb(9, 8, 8);
    --color-white: #ffffff;
}

.left-container {
    /*max-width: 1320 px;*/
    width: 100%;
    padding-left: 80px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
}

ul,
ol {
    list-style: none;
}

a {
    color: unset;
    text-decoration: none;
}

@-webkit-keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-25%);
        transform: translateY(-25%);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-25%);
        transform: translateY(-25%);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}